*{
    box-sizing: border-box;
    margin: 0;
}
.todo{
    width: 100%;
    min-height: 50vh;
    height: auto;
   background-color: rgb(255, 229, 80);
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: center;
}
.todo h1{
    padding: 20px;
    margin-top: 30px;
}
.inputContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}
.inputContainer > input{
    width: 50%;
    padding: 20px 20px;
    font-size: 16px;
    margin-right: 10px;

}
#add{
    padding: 20px;
    font-size: 120%;
    color: seagreen;
}
#add, .inputContainer > input{
    border: 3px solid black;
    border-radius: 20px;
}
#tasks{
    width: 100%;
    font-size: 150%;
    text-align: left;
    margin-top: 10px;
    margin-left: 70px;
    padding: 15px;
}
.rem{
    padding: 0;
    margin-left: 30px;
    color:red;
    font-size: 80%;
    border-radius: 5px;
}




